*{
    margin: 0;
    padding: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e5ecf0;
    padding: 30px;
    line-height: 1.5;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#closePopup{
    width: 60px;

    margin-left: 65px;
    margin-top: 10px;
    color: azure;
    background-color: #ff004f;
}
#heading{
    color: rgb(255, 255, 255);
   margin-left: 42%;
   margin-top: 40px;
}


.form{
    display: block;
    position: fixed;
    top: 20%;
    left: 38%;
    background-color: rgb(189, 186, 129);
    padding: 30px;
    border-radius: 10px;
   
}
label{
    width: 100px;
    display: inline-block;
}

body{
    background-color: rgba(165, 120, 138, 0.737);
}

.button{
    
   
    width: 70px;
    height: 20px;
    font-size: 14px;
    border-radius: 5px;
    color: azure;
    background-color: #ff004f;
    margin-left: 60px;
}
